<div class="modal-container">
  <ion-icon (click)="close()" class="close" name="close"></ion-icon>
  <ion-grid>
    <ion-row>

      <ion-col>
        <div class="provider-container">
          <ion-icon class="icon" name="logo-google"></ion-icon>
          <strong>Google</strong>
        </div>
      </ion-col>

      <ion-col>
        <div class="provider-container">
          <ion-icon class="icon" name="mail"></ion-icon>
          <strong>Email</strong>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</div>
