<ion-content class="ion-padding">

  <div style="display: flex; flex-direction: column; margin-bottom: 1rem;">
    <ion-button color="warning" (click)="register()">Registrarse</ion-button>
    <ion-button color="success" (click)="signin()">Iniciar sesión</ion-button>
    <ion-button color="danger" (click)="logout()">Cerrar sesión</ion-button>
  </div>

  <ion-item *ngFor="let list of lists" class="list" detail="true">
    <app-list-card class="list-container" [list]="list"></app-list-card>
  </ion-item>

</ion-content>